<h1>Lista do FireBase</h1>

<hr />
<div>Texto: <input [(ngModel)]="nome" /></div>
<br />
<div>Número: <input type="number" [(ngModel)]="idade" /></div>
<br />

<button (click)="addItem()">Adicionar</button>
<hr />
<table border="1">
  <tr>
    <th>Nome</th>
    <th>Idade</th>
    <th>Email</th>
    <th>Comando</th>
  </tr>
  <tr *ngFor="let item of list | async">
    <td [title]="['Chave: ' + item.key]">{{ item.nome }}</td>
    <td>{{ item.idade }}</td>
    <td>{{ item.email }}</td>
    <td>
      <button (click)="deleteItem(item.key)">Remover</button>
    </td>
  </tr>
</table>
